<!DOCTYPE html>
<html>
<head>
	<title>Movie Search</title>
	<link rel="stylesheet" type="text/css" href="">
	<script type="text/javascript" src="scripts.js"></script>
</head>
<body>
	<form id="search_form" action="/results">
    	<label>Enter part or all of a movie title:</label><br>
    	<input type="text" name="query">

    	<input type="submit">
	</form>

	<div id="results">
		<!-- search results go here -->
	</div>	
	<a href="#" id="next_button">Next</a>
	<a href="#" id="previous_button">Previous</a>
</body>
</html>